<div class="row">
  <div class="col-sm-12">
    <app-card [cardTitle]="'Donation Details'">
      <div class="donation-details">
        <h5>Donation Information</h5>
        <ul class="list-group">
          <li class="list-group-item"><strong>Donation Type:</strong> {{ donation.donationType }}</li>
          <li class="list-group-item"><strong>Quantity:</strong> {{ donation.quantity }} {{ donation.unit }}</li>
          <li class="list-group-item"><strong>Availability:</strong> {{ donation.availability}}</li>
          <li class="list-group-item"><strong>Pick-up Location:</strong> {{ donation.pickupLocation }}</li>
          <li class="list-group-item"><strong>Description:</strong> {{ donation.description }}</li>
        </ul>

        <h5 class="mt-4">Donor Information</h5>
        <ul class="list-group">
          <li class="list-group-item"><strong>Donor Name:</strong> {{ donation.donor.nom }}  {{donation.donor.prenom}}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ donation.donor.mail }}</li>
          <li class="list-group-item"><strong>Phone:</strong> {{ donation.donor.tel }}</li>
          <li class="list-group-item"><strong>Governorate:</strong> {{ donation.donor.gouvTun }}</li>
        </ul>

        <h5 class="mt-4">Reviews</h5>
        <ul class="list-group" *ngIf="donation.review && donation.review.length > 0">
          <li class="list-group-item" *ngFor="let review of donation.review">
            <strong>Rating:</strong> {{ review.rating }}<br />
            <strong>Comment:</strong> {{ review.comment }}<br />
            <strong>Reviewer:</strong> {{ review.user.nom }} {{ review.user.prenom }}
          </li>
        </ul>
        <p *ngIf="!donation.review || donation.review.length === 0">No reviews available for this donation.</p>
      </div>
    </app-card>
  </div>
</div>
