<div class="row">
  <div class="col-md-6">
    <app-card cardTitle="Bar Simple Chart" [options]="false">
      <apx-chart
        [series]="barSimpleChart.series"
        [chart]="barSimpleChart.chart"
        [dataLabels]="barSimpleChart.dataLabels"
        [plotOptions]="barSimpleChart.plotOptions"
        [yaxis]="barSimpleChart.yaxis"
        [legend]="barSimpleChart.legend"
        [fill]="barSimpleChart.fill"
        [stroke]="barSimpleChart.stroke"
        [tooltip]="barSimpleChart.tooltip"
        [xaxis]="barSimpleChart.xaxis"
      ></apx-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Bar Stacked Chart" [options]="false">
      <apx-chart
        [series]="barStackedChart.series"
        [chart]="barStackedChart.chart"
        [dataLabels]="barStackedChart.dataLabels"
        [plotOptions]="barStackedChart.plotOptions"
        [responsive]="barStackedChart.responsive"
        [xaxis]="barStackedChart.xaxis"
        [legend]="barStackedChart.legend"
        [fill]="barStackedChart.fill"
      ></apx-chart>
    </app-card>
  </div>


  <div class="col-md-6">
    <app-card cardTitle="Line Angle Chart" [options]="false">
      <apx-chart
        [series]="donutChart.series"
        [chart]="donutChart.chart"
        [labels]="donutChart.labels"
        [colors]="donutChart.colors"
        [legend]="donutChart.legend"
        [dataLabels]="donutChart.dataLabels"
        [plotOptions]="donutChart.plotOptions"
      ></apx-chart>
    </app-card>
  </div>
</div>
